global=true
metrics-registry=https:/registry.npmjs.org/
scope=
registry=https://registry.npmjs.org/

//registry.npmjs.org/:username=juliakm
//registry.npmjs.org/:_password=RnJlZWRvbTkxOSEhIQ==
//registry.npmjs.org/:email=juliakm
//registry.npmjs.org/:always-auth=true
