registry=https://pkgs.dev.azure.com/jukullam/_packaging/jukullam/npm/registry/
always-auth=true

; begin auth token
//pkgs.dev.azure.com/jukullam/packaging/jukullam/npm/registry/:username=jukullam
//pkgs.dev.azure.com/jukullam/packaging/jukullam/npm/registry/:password=a2twa2R6bmlxM3RtZGdtYjdvbHc2bHgzcHR2a3hoNGRneW9sN2U0eHJsZnVxc2JxbGN3cQ==
//pkgs.dev.azure.com/jukullam/packaging/jukullam/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/jukullam/packaging/jukullam/npm/:username=jukullam
//pkgs.dev.azure.com/jukullam/packaging/jukullam/npm/:password=a2twa2R6bmlxM3RtZGdtYjdvbHc2bHgzcHR2a3hoNGRneW9sN2U0eHJsZnVxc2JxbGN3cQ==
//pkgs.dev.azure.com/jukullam/packaging/jukullam/npm/:email=npm requires email to be set but doesn't use the value
; end auth token